backcall
cycler
decorator
h5py
ipython
ipython-genutils
jedi
Keras
kiwisolver
matplotlib
numpy
pandas
parso
pexpect
pickleshare
prompt-toolkit
ptyprocess
Pygments
pyparsing
python-dateutil
pytz
PyYAML
scipy
seaborn
simplegeneric
tensorflow
six
tqdm
traitlets
wcwidth
